# Web framework
fastapi
#fastapi==0.115.11

pydantic
#pydantic==2.10.6

uvicorn
#uvicorn==0.34.0

# AI/ML libraries
haystack-ai
#haystack-ai==2.7.0

# PyTorch with CPU support
torch
#torch==2.6.0

# torchvision
#torchvision==0.21.0

# Utilities
python-dotenv
#python-dotenv==1.0.1

# Google Drive API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib